<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-button" ng-click="test.save()">
                Save
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="dialog-content">
        <input type="text" ng-model="test.title" style="width: 100%;" placeholder="title..."/>
        <div ui-ace="app.AceConfig.java" ng-model="test.code"></div>
        <textarea rows="5" ng-model="test.expectations" placeholder="expectations..."></textarea>
    </md-content>
</md-dialog>