<md-toolbar md-theme="e">
    <div class="md-toolbar-tools">
        <md-button aria-label="navigation button" ng-click="header.toggleLeft()">
            <i class="ion-navicon ion ion-2x" ></i>
        </md-button>
        <span flex >My Super trainer app</span>
        <persona-login ng-if="!header.me" ng-click="header.isLoading = true">
            <i class="ion-loading-c ion-2x" ng-if="header.isLoading"></i>
            <md-button class="md-primary" aria-label="login" md-theme="deep-orange">Login</md-button>
        </persona-login>
        <persona-logout ng-if="header.me">
            <md-button class="md-primary " aria-label="logout" md-theme="red">Logout</md-button>
        </persona-logout>
    </div>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</md-toolbar>