<md-bottom-sheet class="md-grid">
    <md-list>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="assessment save" ng-click="assessment.save()">
                <div class="md-icon-container">
                    <i class="ion ion-edit ion-2-5x"></i>
                </div>
                <p class="md-grid-text">Save</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="assessment share" ng-click="assessment.share()">
                <div class="md-icon-container">
                    <i class="ion ion-share ion-2-5x"></i>
                </div>
                <p class="md-grid-text">Share</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="assessment remove" ng-click="assessment.remove()">
                <div class="md-icon-container">
                    <i class="ion ion-trash-a ion-2-5x"></i>
                </div>
                <p class="md-grid-text">Remove</p>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>