<md-dialog class="full dialog-edit">
    <form name="guideEdit" ng-submit="guide.save()">
        <md-toolbar md-theme="green">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button aria-label="submit" class="md-button" type="submit" ng-disabled="guideEdit.$invalid">
                    <i class="ion-edit ion-2x ion"></i>
                </md-button>
                <md-button aria-label="close" type="button" ng-click="guide.cancel()">
                    <i class="ion-close ion-2x ion"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-text-float md-theme="light-green" label="guide title..." flex type="text" ng-model="guide.data.title" required></md-text-float>
        <ng-messages for="cuEdit.name.$error" ng-show="cuEdit.title.$touched">
            <ng-message when="required">
                <i class="ion-android-warning"></i>
                a guide must have a name
            </ng-message>
        </ng-messages>
        <div ui-ace="app.AceConfig.java" ng-model="guide.data.code"></div>
    </form>
</md-dialog>
