# general
.idea
.DS_Store
.sass-cache

#config
config/deploy.config.js

# package control
node_modules
src/vendor

# logs
npm-debug.log

# build
src/build
dist

#docs
docs

#test
test/screenshots/*
!test/screenshots/README.md
test/unit-results/*
!test/unit-results/README.md
