<md-dialog class="medium dialog-edit">
    <form name="guideCreation" ng-submit="guide.save()">
        <md-toolbar md-theme="teal">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button aria-label="github" type="button">
                    <i class="ion-social-github ion-2x ion"></i>
                </md-button>
                <md-button aria-label="submit" class="md-button" type="submit">
                    <i class="ion-edit ion-2x ion"></i>
                </md-button>
                <md-button aria-label="close" type="button" ng-click="guide.cancel()">
                    <i class="ion-close ion-2x ion"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-text-float label="guide title..." flex type="text" ng-model="guide.data.title"></md-text-float>
        <div ui-ace="app.AceConfig.java" ng-model="guide.data.code"></div>
    </form>
</md-dialog>
