<form name="assessDetails">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <input type="text" ng-model="assessment.data.title" flex/>
            <md-button class="md-button md-button-icon" aria-label="save button" ng-click="assessment.save()">
                <i class="ion-upload"></i>
            </md-button>
            <md-button class="md-button md-button-icon" aria-label="remove button" ng-click="assessment.destroy()"
                       ng-show="assessment.exist">
                <i class="ion-trash-a"></i>
            </md-button>
        </div>
    </md-toolbar>
    <div layout-padding>
        <h3>Instructions</h3>
        <textarea name="instruction" rows="5" ng-model="assessment.data.instructions"
                  placeholder="description"></textarea>
    </div>
    <div>
        <h3>Start Code</h3>

        <div ui-ace="app.AceConfig.java" ng-model="assessment.data.startCode"></div>
    </div>
</form>
