<section layout="column" md-theme="teal">
    <form name="assessmentForm" ng-submit="assessment.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <input type="text" ng-model="assessment.data.title" name="title" at-exist resource="assessment" flex placeholder="assessment title" required/>
                <md-button ng-click="assessment.bottom()" ng-show="assessment.exist">
                    <i class="ion ion-2x ion-grid"></i>
                </md-button>
                <collapse-button>
                </collapse-button>
                <md-button class="md-button md-button-colored" type="submit" ng-hide="assessment.exist" ng-disabled="assessmentForm.$invalid || assessmentForm.$pending">
                    <i class="ion ion-2x ion-edit" style="color:#ffffff;"></i>
                </md-button>
            </div>
            <ng-messages for="assessmentForm.title.$error" ng-show="assessmentForm.$dirty">
                <ng-message when="exist">
                    <i class="ion-android-warning"></i>
                    this title is already taken
                </ng-message>
                <ng-message when="required">
                    <i class="ion-android-warning"></i>
                    title is required
                </ng-message>
            </ng-messages>
            <ng-messages for="assessmentForm.instructions.$error" ng-show="assessmentForm.instructions.$dirty">
                <ng-message when="required">
                    <i class="ion-android-warning"></i>
                    instructions are required
                </ng-message>
                <ng-message when="minlength">
                    <i class="ion-android-warning"></i>
                    your instructions are too short
                </ng-message>
            </ng-messages>
        </md-toolbar>
        <collapse-card>
            <text-angular style="width:100%;" name="instructions" placeholder="Instructions" ng-model="assessment.data.instructions"  required pattern=""></text-angular>
        </collapse-card>
    </form>
    <md-tabs ng-init="tabs.selectedIndex = 0" center>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.compilationunits">
            Compilation units
        </md-tab>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.tests">
            Tests
        </md-tab>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.guides" >
            Guides
        </md-tab>
    </md-tabs>
    <section ui-view="assessmentTab" class="gsapify-router" autoscroll="false">

    </section>
</section>
