<section layout="column" md-theme="teal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <input type="text" ng-model="assessment.data.title" flex placeholder="assessment title"/>
            <md-button ng-click="assessment.bottom()" ng-show="assessment.exist">
                <i class="ion ion-2x ion-grid"></i>
            </md-button>
            <collapse-button>

            </collapse-button>
            <md-button class="md-button md-button-colored" ng-click="assessment.save()" ng-hide="assessment.exist">
                <i class="ion ion-2x ion-edit" style="color:#ffffff;"></i>
            </md-button>
        </div>
    </md-toolbar>
    <collapse-card>
        <div layout-padding>
            <text-angular style="width:100%;" placeholder="Instructions" ng-model="assessment.data.instructions"></text-angular>
        </div>
    </collapse-card>
    <md-tabs ng-init="tabs.selectedIndex = 0" center>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.compilationunits">
            Compilation units
        </md-tab>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.tests">
            Tests
        </md-tab>
        <md-tab ng-disabled="!assessment.exist" ui-sref="assessment.edit.guides" >
            Guides
        </md-tab>
    </md-tabs>
    <section ui-view="assessmentTab" class="gsapify-router" autoscroll="false">

    </section>
</section>
