<md-dialog class="full dialog-edit">
    <form name="guideEdit" ng-submit="test.save()">
        <md-toolbar md-theme="green">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button aria-label="submit" class="md-button" type="submit" ng-disabled="guideEdit.$invalid">
                    <i class="ion-edit ion-2x ion"></i>
                </md-button>
                <md-button aria-label="close" type="button" ng-click="test.cancel()">
                    <i class="ion-close ion-2x ion"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-text-float md-theme="light-green" name="title" label="test title..." flex type="text"
                           ng-model="test.data.title"></md-text-float>
            <ng-messages for="cuEdit.name.$error" ng-show="cuEdit.title.$touched">
                <ng-message when="required">
                    <i class="ion-android-warning"></i>
                    a guide must have a name
                </ng-message>
            </ng-messages>
            <div ui-ace="app.AceConfig.java" ng-model="test.data.initializationCode"></div>
            <md-toolbar md-theme="light-green">
                <div class="md-toolbar-tools">
                    <span flex>Expectations</span>
                    <md-button ng-click="test.addAssertion()" type="button">
                        <i class="ion ion-2x ion-plus-circled"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-list>
                <md-item ng-repeat="assertion in test.data.assertions track by $index">
                    <md-item-content>
                        <div class="md-tile-content">
                            <input type="text" ng-model="assertion" style="width:100%;"
                                   placeholder="type an assertion"
                                   ng-change="test.updateAssertion($index, assertion)"/>
                        </div>
                        <div class="md-tile-right">
                            <md-button aria-label="remove an assertion" ng-click="test.removeAssertion(assertion)"
                                       type="button">
                                <i class=" ion-2x ion-trash-a"></i>
                            </md-button>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </form>
</md-dialog>
