.ion-2x{
  font-size: 2em;
}

.ion-2-5x{
  font-size: 2.5em;
}

.full{
  max-width: 100%;
  max-height: 100%;
  width:100%;
  height: 100%;
//  margin:0 !important;
}

.half{
  width: 50%;
}

.medium{
  width: 75%;
}

.small{
  width: 25%;
}

body{
//  overflow: hidden;
}

.ta-toolbar{
  text-align:center;
}

.btn-group{
  display: inline-block;
}

#toolbarWC,#toolbarCC{
  display:none !important;
}

md-bottom-sheet{
  overflow:hidden;
}