<md-dialog class="medium dialog-edit">
    <form name="guideCreation" ng-submit="test.save()">
        <md-toolbar md-theme="teal">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button aria-label="github" type="button">
                    <i class="ion-social-github ion-2x ion"></i>
                </md-button>
                <md-button aria-label="submit" class="md-button" type="submit">
                    <i class="ion-edit ion-2x ion"></i>
                </md-button>
                <md-button aria-label="close" type="button" ng-click="test.cancel()">
                    <i class="ion-close ion-2x ion"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-text-float label="test title..." flex type="text" ng-model="test.data.title"></md-text-float>
        <div ui-ace="app.AceConfig.java" ng-model="test.data.code"></div>
        <textarea rows="5" ng-model="test.data.expectations" placeholder="expectations..."></textarea>
    </form>
</md-dialog>
