<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 flex >
            {{ app.assessment.title }}
        </h2>
        <md-button class="md-button md-button-raised md-theme-red" ng-click="app.delete()">
            Delete
        </md-button>
    </div>
</md-toolbar>
<md-content layout="vertical" layout-fill>
    <md-tabs ng-init="data.selectedIndex = 0" selected="data.selectedIndex"  center>
        <md-tab label="Start"></md-tab>
        <md-tab label="Tests"></md-tab>
        <md-tab label="Tips" ></md-tab>
        <md-tab label="Guides"></md-tab>
    </md-tabs>

    <div class="tab-content-container" layout layout-fill ng-switch on="data.selectedIndex">
        <div class="animate-switch tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
          <ng-include  src="'assessment/templates/include/info.tpl.html'"></ng-include>
        </div>
        <div class="animate-switch tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <ng-include src="'assessment/templates/include/tests.tpl.html'"></ng-include>
        </div>
        <div class="animate-switch tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <ng-include ng-controller="TipsCtrl as tips" src="'assessment/templates/include/tips.tpl.html'"></ng-include>
        </div>
        <div class="animate-switch tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <ng-include src="'assessment/templates/include/guides.tpl.html'"></ng-include>

        </div>
    </div>
</md-content>