<md-bottom-sheet class="list has-header">
    <form name="guideCreation">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex>new guide</span>
                <md-button class="md-button" ng-click="guide.save()">
                    Save
                </md-button>
            </div>
        </md-toolbar>
        <input type="text" ng-model="guide.title" style="width: 100%;" placeholder="title..."/>
        <div ui-ace="app.AceConfig.java" ng-model="guide.code"></div>
    </form>
</md-bottom-sheet>