.ace_editor {
  height: 600px;
  font-size: 16px !important;
}
input{
  width:100%;
}
.dialog-edit{
  .ion{
    color : white;
  }
}

.btn-list {
  md-button {
    width: 100%;
  }
}


.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
