.ace_editor {
  height: 600px;
  font-size: 16px !important;
}
input{
  width:100%;
}
.dialog-edit{
  .ion{
    color : white;
  }
}

.btn-list {
  md-button {
    width: 100%;
  }
}


.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}


//animation
.tab1 {
  //  background-color: #ea9a9e;
  width: 100%;
}

.tab2 {
  //  background-color: #65a1fc;
  width: 100%;
}

.tab3 {
  //  background-color: #96ba82;
  width: 100%;
}

.tab4 {
  //  background-color: #f4f5af;
  width: 100%;
}

.tab-content-container {
  position: relative;
  background: white;
  border: 0px solid black;
  height: 800px;
  opacity: 1;
  overflow-x: hidden;
}

.animate-switch {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
}

.animate-switch.ng-leave.ng-leave-active, .animate-switch.ng-enter {
  top: -800px;
}

.animate-switch.ng-leave, .animate-switch.ng-enter.ng-enter-active {
  top: 0;
}

.animate-switch.ng-leave {
  z-index: 100;
}
