<md-toolbar>
  <div class="md-toolbar-tools">
    <span flex></span>
    <md-button class="md-button md-button-colored" ng-click="bottomSheet($event,'guide')">
      Add a guide
    </md-button>
  </div>
</md-toolbar>
<md-list ng-controller="GuideListCtrl as guides">
  <md-item ng-repeat="guide in assessment.data.guides">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <input type="text" ng-model="guide.title" flex/>
        <md-button class="md-button md-button-icon" ng-click="guides.move($index,$index-1,guide._id)"
                   ng-if="$index != 0">
          <i class="ion-arrow-up-a"></i>
        </md-button>
        <md-button class="md-button md-button-icon" ng-click="guides.update(guide)">
          <i class="ion-upload"></i>
        </md-button>
        <md-button class="md-button md-button-icon" ng-click="guides.remove(guide)">
          <i class="ion-trash-a"></i>
        </md-button>
        <md-button class="md-button md-button-icon" ng-click="guides.move($index,$index+1,guide._id)"
                   ng-if="assessment.data.guides.length != $index+1">
          <i class="ion-arrow-down-a"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-item-content>
      <div class="md-tile-content">
        <div ui-ace="app.AceConfig.java" ng-model="guide.code"></div>
      </div>
    </md-item-content>
  </md-item>
</md-list>
