<md-dialog class="full dialog-edit">
    <form name="cuEdit" ng-submit="unit.save()">
        <md-toolbar md-theme="green">
            <div class="md-toolbar-tools">
                <md-switch ng-model="unit.data.type" aria-label="Switch 2" ng-true-value="'submitted'" ng-false-value="'provided'" flex>
                    <span style="font-size:1em;">{{ unit.data.type }}</span>
                </md-switch>
                <md-button aria-label="submit" class="md-button" type="submit">
                    <i class="ion-edit ion-2x ion"></i>
                </md-button>
                <md-button aria-label="close" type="button" ng-click="unit.cancel()">
                    <i class="ion-close ion-2x ion"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-text-float md-theme="light-green" label="compilation unit name..." flex type="text" ng-model="unit.data.name"></md-text-float>
        <div ui-ace="app.AceConfig.java" ng-model="unit.data.code" flex></div>
    </form>
</md-dialog>
