@import "../assessment/assessment";
@import "animation";
*[ui-view], ui-view{
  width:100%;
}

textarea{
  width: 100%;
  resize:none;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
}

.center{
  text-align: center;
}
