<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-button md-button-raised" ng-click="app.bottomSheet($index,'test')">
            Add a test
        </md-button>
    </div>
</md-toolbar>
<md-list ng-controller="TestsCtrl as tests">
    <md-item ng-repeat="test in assessment.tests">
        <md-item-content>
            <md-button class="md-button" style="width:100%;" ng-click="tests.edit($event,test)">
                {{ test.title }}
            </md-button>
        </md-item-content>
    </md-item>
</md-list>