<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-button md-button-colored" ng-click="app.bottomSheet($event,'tip')">
            Add a tips
        </md-button>
    </div>
</md-toolbar>
<md-list ng-controller="TipsCtrl as tips">
    <md-item ng-repeat="tip in assessment.tips">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-button md-button-icon" ng-click="tips.move($index,$index-1)" ng-if="$index != 0">
                    <i class="ion-arrow-up-a"></i>
                </md-button>
                <md-button class="md-button md-button-icon" ng-click="tips.update($index,tip)">
                    <i class="ion-upload"></i>
                </md-button>
                <md-button class="md-button md-button-icon" ng-click="tips.remove($index,tip)">
                    <i class="ion-trash-a"></i>
                </md-button>
                <md-button class="md-button md-button-icon" ng-click="tips.move($index,$index+1)" ng-if="assessment.tips.length != $index+1">
                    <i class="ion-arrow-down-a"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-item-content>
            <div class="md-tile-content">
                <textarea rows="5"  ng-model="tip"></textarea>
            </div>
        </md-item-content>
    </md-item>
</md-list>