<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-button md-button-raised" ng-click="app.bottomSheet($event,'tip')">
            Add a tips
        </md-button>
    </div>
</md-toolbar>
<md-list ng-controller="TipsCtrl as tips">
    <md-item ng-repeat="tip in assessment.tips">
        <md-item-content>
            <div class="md-tile-left">
                {{ $index }}
            </div>
            <div class="md-tile-content">
                <textarea row="5"  ng-model="tip"></textarea>
            </div>
            <div class="md-tile-right">
                <md-button class="md-button md-button-raised md-theme-green" ng-click="tips.save(tip)">
                    Save
                </md-button>
                <md-button class="md-button md-button-raised md-theme-red" ng-click="tips.remove(tip)">
                    Remove
                </md-button>
            </div>
        </md-item-content>
    </md-item>
</md-list>